<!-- INCLUDECSS @sebo_postreact/main.css -->
<style>
    /* here, not in style because of postrow! */
    #darken_{{ postrow.POST_ID }} {
        display: none; /* Hidden by default */
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0.5;
        z-index: 45;
    }

    #toggle_confirm_{{ postrow.POST_ID }} {
        display: none;
    }

    #phpbb_confirm_{{ postrow.POST_ID }} {
        display: none; /* Hidden by default */
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #f8f9fa;
        border: 1px solid #ced4da;
        border-radius: 4px;
        padding: 20px;
        z-index: 46;
        width: 80%;
        max-height: 80%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .phpbb_alert_{{ postrow.POST_ID }} .alert_close:hover {
        background-position: 0 -16px;
    }

    #toggle_confirm_{{ postrow.POST_ID }}:checked ~ #darken_{{ postrow.POST_ID }},
    #toggle_confirm_{{ postrow.POST_ID }}:checked ~ #phpbb_confirm_{{ postrow.POST_ID }} {
        display: block;
    }

    .alert_text h3 {
        margin-top: 0;
    }

    .post_react_explain_container {
		display: flex;
		align-items: center;
		width: 98%;
		padding: 5px;
		border-radius: 5px;
	}
	.post_react_explain_container:hover {
        background-color: #F6F4D0;
    }

    .post_react_explain {
        flex: 0 1 auto; 
        margin-right: 10px; 
    }

    .post_react_list {
        flex: 1 1 auto; 
    }
</style>

<!-- Hidden checkbox to control the visibility of the confirmation box -->
<input type="checkbox" id="toggle_confirm_{{ postrow.POST_ID }}" />

<!-- Darken overlay -->
<div id="darken_{{ postrow.POST_ID }}"></div>

<!-- Alert box -->
<div id="phpbb_confirm_{{ postrow.POST_ID }}" class="phpbb_alert_{{ postrow.POST_ID }}">
    <label for="toggle_confirm_{{ postrow.POST_ID }}" class="alert_close" aria-label="Close">&nbsp</label>
    <div class="alert_text">
        <h3 style="border-bottom: 2px solid; margin-right:0;">POSTREACT(ions) SUMMARY</h3>
        <p>
        {% for icon in postrow.ICONS %}
            {% set count = 0 %}
            {% set user_details = [] %}
            
            {% for icon_id, cnt in postrow.ICON_COUNTS %}
                {% if icon_id == icon.icon_id %}
                    {% set count = cnt %}
                    {% set user_details = postrow.REACTORS[icon_id] %}
                {% endif %}
            {% endfor %}
            
            {% if count > 0 %}
                <div class="post_react_explain_container">
                    <div class="post_react_explain">
                        <img src="{{ icon.icon_url }}" title="{{ icon.icon_alt }}" alt="{{ icon.icon_alt }}" width="{{ icon.icon_width }}" height="{{ icon.icon_height }}"> 
                        <strong>({{ count }})</strong> 
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                    </div>
                    <div class="post_react_list">
                        {% for user in user_details %}
                            <span style="color: #{{ user.user_colour }}; {% if user.user_colour is not empty %}font-weight: bold;{% endif %}">{{ user.username }}</span>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </p>
    </div>
</div>

{% if postrow.PERM_R == '1' %}
<div id="post_react_display" class="post_react_display">
    {% for icon in postrow.ICONS %}
        {% set count = 0 %}
        {% for icon_id, cnt in postrow.ICON_COUNTS %}
            {% if icon_id == icon.icon_id %}
                {% set count = cnt %}
            {% endif %}
        {% endfor %}
        {% if count > 0 %}
            <div id="img_post_react_display" class="img_post_react_display">
                <div id="bubble_post_react_display" class="{% if count > 99 %}bubble_post_react_display_bb{% elseif count > 9 %}bubble_post_react_display_b{% else %}bubble_post_react_display{% endif %}">
                    {{ count }} 
                </div>
                <!-- Label needed for link to box -->
                <label for="toggle_confirm_{{ postrow.POST_ID }}" style="cursor: pointer;">
                    <img src="{{ icon.icon_url }}" title="{{ icon.icon_alt }}" alt="{{ icon.icon_alt }}" width="{{ icon.icon_width }}" height="{{ icon.icon_height }}">
                </label>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}
