.popup-container_pr summary {
	list-style: none;
	cursor: pointer;
}
.react-toggle {
	position: relative;
}

.container_pr {
	position: relative;
	display: inline-block;
}

.popup_pr {
	position: absolute;
	top: 100%;
	right: 0;
	margin-top: 18px;
	width: clamp(160px, 50vw, 410px);
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
	z-index: 999;
	padding: 10px;
}

.arrow_pr {
	position: absolute;
	top: -6px;
	right: 10px;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
}




.popup-container_pr[open] .popup_pr {
	display: block;
}

.popup-container_pr summary {
	border: none;
	outline: none;
}

.link-image_pr {
	cursor: pointer;
}

.popup-content_pr img {
	margin: 5px;
}

.dropdown-contents{
	z-index: 4 !important;
}

@media (max-width: 700px) {
	.arrow_pr {
		left: 95%
	}
	.popup_pr {
		right: 10px;
		transform: none;
		left: auto;
	}
}