services:
    sebo.postreact.controller.acp:
        class: sebo\postreact\controller\acp_controller
        arguments:
            - '@language'
            - '@request'
            - '@template'
            - '@user'
            - '%core.table_prefix%'
            - '@dbal.conn'
            - '%core.php_ext%'
            - '@config'
            - '%core.root_path%'

    sebo.postreact.controller.react_controller:
        class: sebo\postreact\controller\react_controller
        arguments:
            - '@dbal.conn'
            - '@user'
            - '@request'
            - '%core.table_prefix%'
            - '%core.php_ext%'
            - '@notification_manager'
            - '@sebo.postreact.listener'
            - '@config'
        public: true

    sebo.postreact.listener:
        class: sebo\postreact\event\main_listener
        arguments:
            - '@language'
            - '@dbal.conn'
            - '@user'
            - '@request'
            - '@template'
            - '%core.table_prefix%'
            - '@auth'
            - '@notification_manager'
            - '%core.php_ext%'
            - '@config'
            - '%core.root_path%'
        tags:
            - { name: event.listener }

    sebo.postreact.notification.type.postreact_notification:
        class: sebo\postreact\notification\type\postreact_notification
        shared: false
        parent: notification.type.base
        calls:
            - [set_controller_helper, ['@controller.helper']]
            - [set_user_loader, ['@user_loader']]
            - [set_table_prefix, ['%core.table_prefix%']]
        tags:
            - { name: notification.type }