.popup-container_pr summary {
	list-style: none;
	cursor: pointer;
}
/* svg normal style */
.pr_svg_style {
	width: 18px;
	vertical-align: bottom;
}

.react-toggle {
	position: relative;
}
/* space between post and button only in low position */
.react-toggle.spaced {
	margin-top: 10px;
}
.container_pr {
	position: relative;
}
/* popup box postreaction emoji choose */
.popup_pr {
	position: absolute;
	top: 100%;
	right: 0;
	margin-top: 10px;
	width: clamp(160px, 50vw, 410px);
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
	z-index: 999;
	padding: 10px;
}
.popup_pr--low {
    margin-top: 30px;
}
/* left low */
.popup_pr--low.left {
    margin-top: 5px;
}
.popup_pr--emoji-level {
    margin-top: 45px;
}
@media (max-width: 700px) {
	.popup_pr--emoji-level {
		margin-right: 60px !important;
	}
	.popup_pr--low {
		margin-right: 60px !important;
	}
	.popup_pr {
		margin-right: 30px;
	}
}
/* left position popup */
.popup_pr.left {
	right: inherit !important;
	left: 0 !important;
}
/* arrow box popup */
.arrow_pr {
	position: absolute;
	top: -6px;
	right: 10px;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
}
.arrow_pr.left {
	left: 10px !important;
}

.popup-container_pr[open] .popup_pr {
	display: block;
}

.popup-container_pr summary {
	border: none;
	outline: none;
}

.link-image_pr {
	cursor: pointer;
}

.popup-content_pr img {
	margin: 5px;
}

.dropdown-contents{
	z-index: 4 !important;
}

@media (max-width: 700px) {
	.arrow_pr {
		right: 35px;
	}
	.arrow_pr--low {
		right: 15px;
	}
	.arrow_pr--emoji-level {
		right: 15px;
	}
	.popup_pr {
		transform: translateX(60px);
	}
}