.smile_base_1, .smile_base_2_pr {
		float: none;
		position: absolute;
		top: 5px;
		right: 0;
	}
	@media (max-width: 700px) {
		.smile_base_1, .smile_base_2_pr {
			top: 60px;
			right: 20px;
		}
	}
	.post-buttons {
		right: 26px !important;
	}
