{% include 'overall_header.html' %}

<!-- INCLUDECSS @sebo_postreact/acp_css.css -->
<!-- INCLUDEJS @sebo_postreact/acp_js.js -->
<script type="module" src="{EMOJI_JS_PATH}"></script>

<div id="confirm-delete-reaction" class="popup-confirm-delete">
	<div class="popup-content-delete">
		<p>{{ lang('DELETE_WARNING') }}</p>
		<button id="confirm-delete">{{ lang('DELETE_DELETE') }}</button>
		<button id="cancel-delete">{{ lang('DELETE_UNDONE') }}</button>
	</div>
</div>

<h1>{{ lang('ACP_POSTREACT_TITLE') }}</h1>

{% if S_ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ ERROR_MSG }}</p>
	</div>
{% endif %}

<form id="sebo_postreact_acp" name="sebo_postreact_acp" method="post" action="{{ U_ACTION }}">

	<fieldset>
	<legend>{{ lang('PP_ME_PR') }}</legend>
		<dl>
			<dt>
			{{ lang('PP_ME_EXT_PR') }}
			</dt>
			<dd><img src="../ext/sebo/postreact/adm/style/wink_beer.png" width="32px" height="32px"> <a href="{LINK_DONATE}" target="_blank" rel="noreferrer noopener"><img src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/silver-pill-paypal-26px.png" alt="{{ lang('PP_ME_EXT_ALT') }}"></a></dd>
		</dl>
	</fieldset>
	
	<fieldset>
		<legend>{{ lang('MEMORANDUM') }}</legend>
		<dl>
			<i class="fa fa-exclamation-triangle fa-2x" style="color:orange;vertical-align:middle;" aria-hidden="true"></i><strong> {{ lang('MEM_EXPLAIN') }} </strong><br><br>
			<ul>
				<li>{{ lang('PERM') }} {{ ARROW }} {{ lang('USER-GROUP') }} {{ ARROW }} {{ lang('ADVANCED') }} {{ ARROW }} {{ lang('MESSAGES') }} {{ ARROW }} <strong>{{ lang('ACL_U_NEW_SEBO_POSTREACT') }}</strong></li>
				<li>{{ lang('PERM') }} {{ ARROW }} {{ lang('USER-GROUP') }} {{ ARROW }} {{ lang('ADVANCED') }} {{ ARROW }} {{ lang('MESSAGES') }} {{ ARROW }} <strong>{{ lang('ACL_U_NEW_SEBO_POSTREACT_VIEW') }}</strong></li>
			</ul>
		</dl>
		<dl>
			<i class="fa fa-exclamation-triangle fa-2x" style="color:red;vertical-align:middle;" aria-hidden="true"></i><strong> {{ lang('PURGE_EXPLAIN') }} </strong>
		</dl>
	</fieldset>
	<fieldset>
		<legend>{{ lang('CONFIG_SETTINGS') }}</legend>
		<dl>
			<dt>
				<label for="config_self_react">{{ lang('ENABLE_SELF_REACTING') }}</label>
			</dt>
			
			<dd>
				<div>
					<label class="switch" title="{{ lang('ENABLE_DISABLE') }}">
						<input type="checkbox" id="config_self_react" name="config_self_react" {% if SELF_REACT_VAL == 0 %}checked{% endif %}>
						<span class="slider round"></span>
					</label>
				</div>
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="config_display_position">
					{{ lang('DISPLAY_POSITION') }}: 
					<strong id="dynamic_position_text" style="text-transform: uppercase;">
						{% if DISPLAY_OPTION_VAL == 0 %}
							{{ lang('DISPLAY_POSITION_R') }}
						{% else %}
							{{ lang('DISPLAY_POSITION_L') }}
						{% endif %}
					</strong>
				</label>
				<br />
				<span id="save_alert" style="display:none; color: #BC2A4D; font-weight: bold; font-size: 0.9em;">
					<i class="fa fa-exclamation-triangle"></i> {{ lang('SAVING_REQUIRED') }}
				</span>
			</dt>
			<dd>
				<div style="display: flex; align-items: center;">
					<label class="switch fixed-blue" title="{{ lang('ENABLE_DISABLE') }}">
						<input type="checkbox" id="config_display_position" name="config_display_position" 
							   {% if DISPLAY_OPTION_VAL == 0 %}checked{% endif %}
							   data-lang-checked="{{ lang('DISPLAY_POSITION_R') }}"
							   data-lang-unchecked="{{ lang('DISPLAY_POSITION_L') }}">
						<span class="slider round"></span>
					</label>
				</div>
			</dd>
		</dl>
	</fieldset>
	<fieldset>
		<legend>{{ lang('ICON_SETTINGS') }}</legend>
		<dl>
			<dt>
				<a class="btn btn-danger" href="{CREATE_PR_URL}">
				<i class="fa fa-plus-circle fa-lg"></i> {{ lang('ADD_PR') }}</a>
			</dt>
			<dd>
				{{ lang('HOW_TO', PR_FOLDER_PATH) }}
				<br>
				<a href="https://www.iconarchive.com/show/noto-emoji-smileys-icons-by-google.1.html" target="_blank">
					{{ lang('FREE_IP_EX') }} <i class="fa fa-external-link-square" aria-hidden="true"></i>
				</a>
                <br>
				<a href="https://emojipedia.org/" target="_blank">
					{{ lang('FREE_EM_EX') }} <i class="fa fa-external-link-square" aria-hidden="true"></i>
				</a>
			</dd>
		</dl>
        {% if PR_DIR_NOT_EXISTS %}
        <dl>
            <div class="errorbox">
                <h3>{{ lang('WARNING') }}</h3>
                <p>{{ lang('PR_DIR_NOT_EXISTS_MSG', PR_FOLDER_PATH) }}</p>
            </div>
        </dl>
        {% endif %}
		<dl>
	    <table class="table1 zebra-table pr-table">
			<thead>
				<tr>
					<th style="text-align: center; width: 50px;">{{ lang('PREVIEW') }}</th>
					<th>{{ lang('ICON_URL') }}</th>
					<th>{{ lang('ICON_ALT') }}</th>
					<th style="text-align: center;">{{ lang('ICON_WIDTH') }} x {{ lang('ICON_HEIGHT') }}</th>
					<th style="text-align: center;">{{ lang('ICON_EMOJI') }}</th>
					<th style="text-align: center;">{{ lang('ENABLE_DISABLE') }}</th>
					<th style="text-align: center; width: 50px;">{{ lang('DELETE') }}</th>
				</tr>
			</thead>
			<tbody>
			{% for icon in ICONS %}
				<tr>
					<td style="text-align: center;">
						<img src="../{{ icon.icon_url }}?v={{ 'now'|date('U') }}" title="{{ icon.icon_alt }}" alt="{{ icon.icon_alt }}" style="max-width: 32px; max-height: 32px;" onerror="this.onerror=null; this.src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj48cmVjdCB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIGZpbGw9IiNmMmYyZjIiIHJ4PSI0Ii8+PHBhdGggZD0iTTEwIDEwTDIyIDIyTTIyIDEwTDEwIDIyIiBzdHJva2U9IiNiYzJhMDAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+PC9zdmc+';">
					</td>

					<td>
						{% set modified_icon_url = icon.icon_url|slice(32) %}
						<input class="inputbox pr-input-text" type="text" id="icon_url_{{ icon.icon_id }}" name="icon_url_{{ icon.icon_id }}" value="{{ modified_icon_url }}">
					</td>

					<td>
						<input class="inputbox pr-input-text" type="text" id="icon_alt_{{ icon.icon_id }}" name="icon_alt_{{ icon.icon_id }}" value="{{ icon.icon_alt }}">
					</td>

					<td style="text-align: center; white-space: nowrap;">
						<input class="inputbox tiny pr-input-tiny" type="text" id="icon_width_{{ icon.icon_id }}" name="icon_width_{{ icon.icon_id }}" value="{{ icon.icon_width }}" size="3">
						x 
						<input class="inputbox tiny pr-input-tiny" type="text" id="icon_height_{{ icon.icon_id }}" name="icon_height_{{ icon.icon_id }}" value="{{ icon.icon_height }}" size="3">
					</td>

					<td style="text-align: center;">
						<input class="inputbox tiny pr-input-emoji" type="text" id="icon_emoji_{{ icon.icon_id }}" name="icon_emoji_{{ icon.icon_id }}" value="{{ icon.icon_emoji }}" size="3">
					</td>

					<td style="text-align: center;">
						<label class="switch" title="{{ lang('ENABLE_DISABLE') }}">
							<input type="checkbox" id="status_{{ icon.icon_id }}" name="status_{{ icon.icon_id }}" {% if icon.status == '1' %}checked{% endif %}>
							<span class="slider round"></span>
						</label>
					</td>

					<td style="text-align: center;">
						<a href="#" class="delete-reaction" data-url="{DELETE_PR_URL}{{ icon.icon_id }}">
							<i class="fa fa-trash fa-lg pr-delete-icon" alt="{{ lang('DELETE') }}"></i>
						</a>
						<input type="hidden" name="icon_ids[]" value="{{ icon.icon_id }}">
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	    </dl>
	</fieldset>

	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
		{{ S_FORM_TOKEN }}
	</fieldset>

</form>

<!-- Emoji Picker Container -->
<div id="emoji-picker-container" style="display: none; position: fixed; z-index: 9999; margin: 0; padding: 0; box-shadow: 0 4px 12px rgba(0,0,0,0.15);"></div>

{% include 'overall_footer.html' %}
