{% include 'overall_header.html' %}

<!-- INCLUDECSS @sebo_postreact/acp_css.css -->
<!-- INCLUDEJS @sebo_postreact/acp_js.js -->

<div id="confirm-delete-reaction" class="popup-confirm-delete">
    <div class="popup-content-delete">
        <p>{{ lang('DELETE_WARNING') }}</p>
        <button id="confirm-delete">{{ lang('DELETE_DELETE') }}</button>
        <button id="cancel-delete">{{ lang('DELETE_UNDONE') }}</button>
    </div>
</div>

<h1>{{ lang('ACP_POSTREACT_TITLE') }}</h1>

{% if S_ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ ERROR_MSG }}</p>
	</div>
{% endif %}

<form id="sebo_postreact_acp" name="sebo_postreact_acp" method="post" action="{{ U_ACTION }}">

	<fieldset>
	<legend>{{ lang('PP_ME_PR') }}</legend>
		<dl>
			<dt>
			{{ lang('PP_ME_EXT_PR') }}
			</dt>
			<dd><img src="../ext/sebo/postreact/adm/style/wink_beer.png" width="32px" height="32px"> <a href="{LINK_DONATE}" target="_blank" rel="noreferrer noopener"><img src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/silver-pill-paypal-26px.png" alt="{{ lang('PP_ME_EXT_ALT') }}"></a></dd>
		</dl>
	</fieldset>
	
	<fieldset>
		<legend>{{ lang('MEMORANDUM') }}</legend>
		<dl>
			<i class="fa fa-exclamation-triangle fa-2x" style="color:orange;vertical-align:middle;" aria-hidden="true"></i><strong> {{ lang('MEM_EXPLAIN') }} </strong><br><br>
			<ul>
				<li>{{ lang('PERM') }} {{ ARROW }} {{ lang('USER-GROUP') }} {{ ARROW }} {{ lang('ADVANCED') }} {{ ARROW }} {{ lang('MESSAGES') }} {{ ARROW }} <strong>{{ lang('ACL_U_NEW_SEBO_POSTREACT') }}</strong></li>
				<li>{{ lang('PERM') }} {{ ARROW }} {{ lang('USER-GROUP') }} {{ ARROW }} {{ lang('ADVANCED') }} {{ ARROW }} {{ lang('MESSAGES') }} {{ ARROW }} <strong>{{ lang('ACL_U_NEW_SEBO_POSTREACT_VIEW') }}</strong></li>
			</ul>
		</dl>
		<dl>
			<i class="fa fa-exclamation-triangle fa-2x" style="color:red;vertical-align:middle;" aria-hidden="true"></i><strong> {{ lang('PURGE_EXPLAIN') }} </strong>
		</dl>
	</fieldset>
	<fieldset>
        <legend>{{ lang('CONFIG_SETTINGS') }}</legend>
        <dl>
            <dt>
                <label for="config_self_react">{{ lang('ENABLE_SELF_REACTING') }}</label>
            </dt>
            
            <dd>
                <div>
                    <label class="switch" title="{{ lang('ENABLE_DISABLE') }}">
                        <input type="checkbox" id="config_self_react" name="config_self_react" {% if SELF_REACT_VAL == 0 %}checked{% endif %}>
                        <span class="slider round"></span>
                    </label>
                </div>
            </dd>
        </dl>
    </fieldset>
	<fieldset>
		<legend>{{ lang('ICON_SETTINGS') }}</legend>
		<dl>
			<dt>
				<a class="btn btn-danger" href="{CREATE_PR_URL}">
				<i class="fa fa-plus-circle fa-lg"></i> {{ lang('ADD_PR') }}</a>
			</dt>
			<dd>
				{{ lang('HOW_TO') }}
				<br>
				<a href="https://www.iconarchive.com/show/noto-emoji-smileys-icons-by-google.1.html" target="_blank">
					{{ lang('FREE_IP_EX') }} <i class="fa fa-external-link-square" aria-hidden="true"></i>
				</a>
			</dd>
		</dl>
		<dl>
	{% for icon in ICONS %}
        <div class="icon-container" id="first_c_one">
            <div class="separator">
                <div>
					<img src="../{{ icon.icon_url }}" title="{{ icon.icon_alt }}" alt="{{ icon.icon_alt }}" width="{{ icon.icon_width }}" height="{{ icon.icon_height }}">
                </div>
                
                <div>
					{% set modified_icon_url = icon.icon_url|slice(34) %}
                    <label for="icon_url_{{ icon.icon_id }}">{{ lang('ICON_URL') ~ lang('COLON') }}</label>
                    <input type="text" id="icon_url_{{ icon.icon_id }}" name="icon_url_{{ icon.icon_id }}" value="{{ modified_icon_url }}">
                </div>
                
                <div>
                    <label for="icon_alt_{{ icon.icon_id }}">{{ lang('ICON_ALT') ~ lang('COLON') }}</label>
                    <input type="text" id="icon_alt_{{ icon.icon_id }}" name="icon_alt_{{ icon.icon_id }}" size="5" value="{{ icon.icon_alt }}">
                </div>
                
                <div>
                    <label for="icon_width_{{ icon.icon_id }}">{{ lang('ICON_WIDTH') ~ lang('COLON') }}</label>
                    <input type="text" id="icon_width_{{ icon.icon_id }}" name="icon_width_{{ icon.icon_id }}" size="2" value="{{ icon.icon_width }}">
                </div>
                
                <div>
                    <label for="icon_height_{{ icon.icon_id }}">{{ lang('ICON_HEIGHT') ~ lang('COLON') }}</label>
                    <input type="text" id="icon_height_{{ icon.icon_id }}" name="icon_height_{{ icon.icon_id }}" size="2" value="{{ icon.icon_height }}">
                </div>
            </div>
                
            <div>
                <label class="switch" title="{{ lang('ENABLE_DISABLE') }}">
                    <input type="checkbox" id="status_{{ icon.icon_id }}" name="status_{{ icon.icon_id }}" {% if icon.status == '1' %}checked{% else %} {% endif %}>
                    <span class="slider round"></span>
                </label>
            </div>

            <div>
                <span class="fa-stack fa-lg">
                    <a href="#" class="delete-reaction" data-url="{DELETE_PR_URL}{{ icon.icon_id }}">
						<i class="fa fa-trash fa-stack-1x" alt="{{ lang('DELETE') }}"></i>
					</a>
                </span>
            </div>
        </div>
        <!-- Add an hidden text for icon IDs -->
        <input type="hidden" name="icon_ids[]" value="{{ icon.icon_id }}">
    {% endfor %}
	</dl>
	</fieldset>

	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
		{{ S_FORM_TOKEN }}
	</fieldset>

</form>

{% include 'overall_footer.html' %}
