/* fixe_col_checkbox 4 acp */
.switch.fixed-blue .slider {
    background-color: #87CEEB; 
}
.switch.fixed-blue input:checked + .slider {
    background-color: #87CEEB;
}
.switch.fixed-blue .slider:before {
    background-color: #ffffff;
}
/* end */
#first_c_one {
	display: inline-flex;
	align-items: center;
}
.icon-container {
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}
.icon-container form {
	display: flex;
	align-items: center;
	flex-grow: 1;
}
.icon-container div {
	margin-right: 5px;
}
.icon-container img {
	max-width: 50px;
}
.icon-container:hover .separator {
	border-right: 1px solid #666666;
}
.separator {
	border-right: 1px solid #CCCCCC;
	display: flex;
	align-items: center;
}
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 18px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 10px;
	width: 10px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(18px);
	-ms-transform: translateX(18px);
	transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
/* button */
.btn-danger {
	color: #fff;
	background-color: #1b9811;
	border-color: #116d0a;
}
.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: white !important;
}
.btn-default {
	text-shadow: 0 1px 0 #fff;
}
.btn {
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
}
.btn-sm, .btn-group-sm>.btn {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

/* delete icon */
#confirm-delete-reaction {
	display: none; 
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5); 
	justify-content: center;
	align-items: center;
	z-index:99;
}

.popup-content-delete {
	background: white;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-content-delete button {
	margin: 10px;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
}

#confirm-delete {
	background: red;
	color: white;
}

#cancel-delete {
	background: gray;
	color: white;
}